@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 'Inter',
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.animate-background{
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 12s linear infinite;
  animation-direction: alternate;
}
.intro-pattern{
  background-image: linear-gradient(#001855 1px, transparent 0), linear-gradient(90deg, #001823 1px, transparent 0);
  background-size: 10px 10px;
}

.intro-text{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 56px
}

.intro-text span{
  font-family: 'Zen Dots', cursive;
  color: #0A9055;

  background: 
    -webkit-linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706),
    linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 600% 100%;
    animation: gradient 8s linear infinite;
    animation-direction: alternate;
}

.skills_chartbar{
  height: 30px;
  margin-bottom: 15px;

  background: linear-gradient(270deg, #F17C58, #E94584, #24AADB);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: 1s anim-lightspeed-in ease forwards;
}
.skills_chartbar_label{
  font-family: 'Quicksand', sans-serif;
  color: white;
  line-height: 30px;
  padding-left: 10px;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 1s 1;
  }
}

@font-face {
  font-family: 'Zen Dots';
  src: url('../fonts/ZenDots.ttf');
}
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.ttf');
}